<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script type="text/javascript" src="javascripts/lib/jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLzuvR5mESiT5RepJXyrZUeR7CGh8rXEg"></script>
		<script type="text/javascript" src="javascripts/map.js"></script>
	<body>
		<div id="map-canvas"></div>
	</body>
</html>